@import "tailwindcss";
@tailwind utilities;

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes tilt {
  0%, 100% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
}

@layer utilities {
  .animate-fadeInUp {
    animation: fadeInUp 1s ease-in-out;
  }

  .animate-spin-slow {
    animation: spinSlow 4s linear infinite;
  }

  .animate-tilt {
    animation: tilt 1s ease-in-out infinite;
  }
}